<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projeto 1</title>
</head>
<body>
    <img src="image/logo.jpg" width="300">
    <h2>Simulador de Loteria</h2>


    <form method="post">
        {% csrf_token %}
        <input name="variavel" type="text">
        <button type="submit">Gerar</button>
    </form>

    <br>
    --------------------------------------- <br>

    {% for jogo in jogos %}

            <font color="red">jogo {{forloop.counter}}</font> : {% for j in jogo %} {{ j }}  {% endfor %}<br>

    {% endfor %}
    ---------------------------------------<br>
    <br>
    Números &nbsp;- &nbsp;Repetições<br>
    {% for i in repeticao %}
        {{forloop.counter}}&emsp;&emsp;&emsp; - &emsp;&emsp;&emsp;{{ i }}<br>
    {% endfor %}


</body>
</html>